/build/
Audio
src/test
nbproject
190121-fortnite_0.wav
190121-fortnite_1.wav
build/
src/test/
applet.policy
transcript.txt
transcript4.txt
transcript_1.rtf
transcript_4.rtf
191004-living-by-the-sea_4.wav
words-1.txt
project.properties